body {
	background-color: blue;
	background-size: cover;
	font-family: perfect-dos;
	overflow: hidden;
	background-image: url(source/img/nasa-Q1p7bh3SHj8-unsplash.jpg);
	height: 100%;
	width: 100%;
}
@font-face {
	font-family: perfect-dos;
	src: url(source/perfect_dos/Perfect\ DOS\ VGA\ 437\ Win.ttf)
}
#menubar {
	width: 99.1%;
	height: 0.55cm;
	border-bottom: 1px solid black;
	background-color: white;
	font-size: 150%;
}
#mediaplayer {
	position: absolute;
	background-color: #010088;
}
.titlebar {
	border-bottom: 1px solid black;
	background: linear-gradient(to right, white, lightgray);
	text-align: center;
	width: 100%;
	height: 0.66cm;
	font-size: 0.58cm;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.titlebar:hover {
	cursor: move;
}
.application {
	background-color: white;
	box-shadow: 8px 15px 0px 0px rgba(0, 0, 0, 0.75);
	transition: filter 0.5s;
	min-height: 0.66cm;
	min-width: 10%;
	border-radius: 4px;
	overflow: hidden;
}

.application {
	z-index: 1;
}

#notes {
	position: absolute;
	background-color: #FFFF99;
	overflow: hidden;
	overflow-x: hidden;
	text-overflow: ellipsis;
	font-size: 0.7vw;
}
#notesContent {
	margin-left: 3px;
}

.collapseWindow {
	float: right;
	background: none;
	border: none;
	margin-right: 5px;
	padding: 0;
	cursor: pointer;
	font-size: 18px;
}
#desktopIcons {
	margin-left: 90%;
	position: absolute;
	color: white;
	font-size: 120%;
}
#desktopIcons>img {
	margin-top: 10px;
	display: block;
	width: 50%;
}
#desktopIcons>a {
	margin-left: 5px;
}
.closeWindow {
	float: left;
	background: none;
	border: none;
	margin-left: 5px;
	padding: 0;
	cursor: pointer;
	font-size: 18px;
}
#fileMenuContent {
	margin-left: 3.8cm;
	background-color: white;
	display: inline;
	position: absolute;
	font-size: 1vw;
	text-align: center;
	padding: 0.5%;
	display: none;
	z-index: 9999;
}
#fileMenuContent>a {
	display: block;
}
#optionMenuContent {
	margin-left: 5.5cm;
	background-color: white;
	display: inline;
	position: absolute;
	font-size: 1vw;
	text-align: center;
	padding: 0.5%;
	display: none;
	z-index: 9999;
}
#optionMenuContent>a {
	display: block;
}



#browserWindow {
	position: absolute;
	background-color: #FFFFFF;
	text-align: center;
	display: none;
}

#help {
	position: absolute;
	background-color: #FFFFFF;
	display: none;
}

#helpContent {
	margin-left: 5px;
}

/* Defualt Positions and Sizes*/
#notes {
	margin-top: 0.25cm;
	margin-left: 0cm;
	width: 10%;
	height: 70%;
}
#mediaplayer {
	margin-top: 0.25cm;
	margin-left: 11%;
	width: 50%;
	height: 60%;
}
#pathfinder {
	margin-top: 15vh;
	margin-left: 28%;
	width: 50%;
	height: 50%;
}
#about {
	margin-top: 20vh;
	margin-left: 37.5%;
	width: 25%;
	height: 50%;
}
#terminal {
	top: 20vh;
	left: 25%;
	width: 50%;
	height: 45%;
}
#backgroundPicker {
	margin-top: 15vh;
	margin-left: 25vw;
	min-height: 12cm;
	min-width: 25cm;
	width: 25cm;
	height: 12.5cm;
}
#browserWindow {
	top: 15vh;
	left: 28vw;
	width: 50%;
	height: 50%;
}

#help {
	margin-top: 12vh;
	margin-left: 24vw;
	width: 40%;
	height: auto;
	font-size: 0.7vw;
}

#customizationSettings {
	margin-top: 5vh;
	margin-left: 24vw;
	width: 45%;
	height: auto;
}
/* end of positions and sizes */

#menubar>button {
	background: none;
	border: none;
	margin-left: 5px;
	padding: 0;
	cursor: pointer;
	font-size: 20px;
	font-family: perfect-dos;
	color: black;
}
#appMenuContent {
	margin-left: 0cm;
	background-color: white;
	display: inline;
	position: absolute;
	font-size: 1vw;
	text-align: left;
	padding: 0.5%;
	z-index: 9999;
	max-width: 10%;
	display: none;
}
#appMenuContent>a {
	margin-bottom: 2%;
	display: block;
	cursor: pointer;
}
#dateAndTime {
	padding-right: 10px;
	float: right;
	font-size: 22px;
	font-family: perfect-dos;
}
#pathfinder {
	position: absolute;
	background-color: #FFFFFF;
	text-overflow: ellipsis;
	display: none;
	min-width: 40%;
}

#terminal {
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	text-overflow: ellipsis;
	min-width: 42%;
	display: none;
}
#terminalSettings {
	text-align: center;
	color: white;
	margin: auto;
	background: linear-gradient(180deg, rgba(255,255,255,0.2), rgba(0,0,0,0));
	width: 100%; 
	height:1cm;
	display: none;
}

#terminalContent, #mediaContent, #browserContent, #pathfinderContent {
	border:none;
}
.frameOverlay {
	height: 100%;
	width: 100%;
	background: rgba(34, 34, 34, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.windowFrameOverlay {
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.0);
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	cursor: move;
}

#browserContent {
	display: none;
}

#browserInfo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#wait {
	display: inline-block;
	width: 7.5%;
}

.maximiseWindow {
	float: left;
	background: none;
	border: none;
	margin-left: 0.4%;
	padding: 0;
	cursor: pointer;
	font-size: 18px;
}

#customizationSettings {
	position: absolute;
	background-color: #FFFFFF;
	display: none;
	overflow: hidden;
}


#windowSettings > div {
	float: left;
}

#generalInterface {
	text-align: center;
	width: 40%;
	border-right: 1px solid black;
	padding-bottom: 25%;
}

#interfaceColors {
	text-align: left;
}

#notesOpacityAmount, #notesOpacityText, #generalOpacityAmount, #generalOpacityText, #menubarTranslucency, #menubarTranslucencyText  {
	display: none;
}

.closeWindow, .uncollapseWindow, .collapseWindow {
	cursor: pointer;
}

#presets {
	margin-right: auto;
	margin-left: auto;
}

#presets>div {
	display: inline-block;
	text-align: center;
	margin-left: 1%;
	cursor: pointer;
	width: 29%;
	background-color: gray;
	border: 1px solid black;
	border-radius: 2px;
}

#generalWindowSettings, #titlebarSettings, #translucencySettings, #colorSettings, #menubarSettings {
	text-align: center;
	margin-left: 1%;
	display: none;
	width: 57%;
}

#colorSettings {
	display: inline-block;
}

#titlebarColorSettings {
	text-align: left;
}

#titlebarSettings {
	padding-bottom: 1%;
}

#manualControls>button {
	width: 50%;
}

#bottombar {
	width: 99.1%;
	height: 0.75cm;
	border-bottom: 1px solid black;
	background-color: white;
	font-size: 150%;
	position: absolute;
	bottom: 0;
	padding: 0;
	margin: 0;
	display: none;
}

#bottombar>button {
	background: none;
	border: none;
	padding-right: 2px;
	cursor: pointer;
	font-size: 20px;
	font-family: perfect-dos;
	color: black;
}

#bottomMenuClick:hover {
	transform: scale(1.1);
	transition: transform 0.2s;
}

#bottomMenuContent {
	background-color: white;
	display: inline;
	position: absolute;
	font-size: 1vw;
	text-align: left;
	padding: 0.5%;
	z-index: 9999;
	max-width: 10%;
	bottom: 0.77cm;
	border-bottom: 1px solid black;
	display: none;
}
#bottomMenuContent>a {
	margin-bottom: 2%;
	display: block;
	cursor: pointer;
}

#bottomDateAndTime {
	padding-right: 10px;
	float: right;
	font-size: 22px;
	font-family: perfect-dos;
}

#openWindowList {
	display: inline;
	max-width: 20%;
	margin: auto;
}

#openWindowList > img {
	margin: 0;
	padding-left: 0.5%;
	padding-right: 0.5%;
	display: none;
	width: 0.35cm;
	transform: scale(1.1);
	vertical-align: middle;
}


#openWindowList > img:hover {
	transform: scale(1.5);
	transition: transform 0.2s;
}

.closeWindow:hover, .collapseWindow:hover, .uncollapseWindow:hover {
	transform: scale(1.4);
	transition: transform 0.1s;
}

#windowListTopContainer, #windowListBottomContainer {
	display: inline;
	max-width: 20%;
}

#terminalContent > * {
	font-family: perfect-dos;
	color: green;
}

#terminalContent {
	background-color: rgba(0,0,0,0.0);
	font-size: 20px;
	display: block;
	overflow: hidden;
	height: 92%;
	width: 99.5%;
}

#terminalInput {
	background-color: rgba(0, 0, 0, 0);
	color: white;
	border: none;
	outline: none;
	height: 30px;
	width: 70%;
}

#terminalNeofetch, #terminalLs, #terminalHelp, #terminalNotFound, #terminalUnameR {
	display: none;
}

#terminalContent > pre {
	margin-top: -2px;
}

#settings {
	position: absolute;
	background-color: lightgray;
	margin-top: 5vh;
	margin-left: 24vw;
	width: 30cm;
	height: 50%;
}

#settingsPanels {
	float: left;
	text-align: center;
	width: 7cm;
	border-right: 1px solid black;
	padding-bottom: 25%;
}

#settingsPanels > div {
	background-color: gray;
	height: 1cm;
	color: black;
	transition: filter 0.4s;
}


#settingsPanels > div:hover {
	filter: brightness(1.4);
	cursor: pointer;
}

#aboutImage {
	display: block;
	margin: auto;
	width: 20%;
}

#aboutContent > div {
	border: 1px solid gray;
	width: 75%;
	margin: auto;
	margin-top: 1%;
	margin-bottom: 1%;
	padding: 1%;
}

#aboutContainer {
	display: block;
	padding: auto;
	width: auto;
	margin-left: 7cm;
}

.aboutSecond {
	float: right;
}

#settingsAboutButton {
	background: linear-gradient(to left, gray, darkgray);
}


#backgroundPick {
	width: 50%;
	height: 100%;
	overflow-y: scroll;
	overflow-x:hidden;
	text-align: left;
	display: block;
}

#backgroundPick > label {
	margin-left: 0.5%;
}
#backgroundPick>div {
	margin-top: 0.5%;
	height: 2cm;
	width: 99%;
	display: flex;
	border-radius: 2px;
}

#backgroundPicker {
	position: absolute;
	background-color: #FFFFFF;
	text-align: center;
	display: none;
}
#backgroundContainer {
	border: 3px solid rgba(0, 0, 0, 0.0);
	border-top: 0px;
	border-bottom: 0px;
	height: 94%;
	display: none;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: start;
	align-items: auto;
	align-content: start;
}

#backgroundSettings {
	margin: auto;
	height: 100%;
	font-size: 0.35cm;
	display: block;
}

#backgroundSettings h2 {
	margin-bottom: 1%;
}

#appearanceContainer {
	display: none;
	padding: auto;
	width: auto;
	margin-left: 7cm;
}

#appearancePanels {
	width: 100%;
	height: 0.5cm;
	background: black;
	margin-bottom: 0.2cm;
}

#appearancePanels::after { 
	content: " ";
	display: block; 
	height: 0.5cm; 
	clear: both;
	margin-bottom: 0.2cm;

 }

#appearancePanels > div {
	float: left;
	background: gray;
	width: 20%;
	height: 100%;
	margin-left: 0.5%;
	text-align: center;

}


#demoWindow {
	background-color: white;
	box-shadow: 8px 15px 0px 0px rgba(0, 0, 0, 0.75);
	transition: filter 0.5s;
	min-height: 0.66cm;
	min-width: 10%;
	border-radius: 4px;
	overflow: hidden;
	height: 80%;
	width: 90%;
	margin: auto;
}

#demoWindowContent {
	height: 100%;
	cursor: crosshair;
}

#demoWindowContainer {
	width: 75%;
	background-color: darkgray;
	padding: 1%;
	padding-right: 2%;
	height: 5.5cm;
	overflow: hidden;
}

#demoText {
	width: 15%;
	transition: background-color 0.2s;
	font-size: 160%;
}

#demoText:hover {
	background-color: gray;
}

.settingsAction {
	margin: 1%;
	position: fixed;
    bottom: 0;
    right: 0;
}

#demoMenubar {
	width: 100%;
	height: 0.55cm;
	border-bottom: 1px solid black;
	background-color: white;
	font-size: 150%;
	margin-bottom: 0.2cm;
	cursor: crosshair;
}


#demoMenubar>a {
	background: none;
	border: none;
	margin-left: 5px;
	padding: 0;
	font-size: 20px;
	font-family: perfect-dos;
	color: black;
	transition: background-color 0.2s;
}

#demoMenubar>a:hover {
	background-color: gray;
}

#closeWindowDemo {
	float: left;
	background: none;
	border: none;
	margin-left: 5px;
	padding: 0;
	cursor: pointer;
	font-size: 18px;
}

#collapseWindowDemo {
	float: right;
	background: none;
	border: none;
	margin-right: 5px;
	padding: 0;
	cursor: pointer;
	font-size: 18px;
}

#demoTitlebar {
	border-bottom: 1px solid black;
	background: linear-gradient(to right, white, lightgray);
	text-align: center;
	width: 100%;
	height: 0.66cm;
	font-size: 0.58cm;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	cursor: crosshair;
}

#demoTitlebar>a, #demoTitlebar>button {
	transition: background-color 0.2s;
	cursor: crosshair;
}

#demoTitlebar>a:hover, #demoTitlebar>button:hover {
	background-color: gray;
	padding-right: 2%;
	padding-left: 2%;
}

