.window {
	min-height: 0.7cm;
	min-width: 5em;
	display: grid;
	grid-template-rows: auto 1fr;
	box-shadow: 8px 15px 0px 0px rgba(0, 0, 0, 0.75);
	overflow: hidden;
	backdrop-filter: blur(10px);
	background-color: rgba(var(--color-background), var(--background-opacity));
	transition:
		background-color 0.3s,
		color 0.3s;
	color: var(--color-primary);
	border: var(--window-border);
	border-radius: var(--window-border-radius, 8px);
}

.content {
	overflow: hidden;
	cursor: default;
	display: flex;
	flex-direction: column;
	> div {
		height: 100%;
	}
	iframe {
		border: none;
	}
}

.titlebar {
	width: 100%;
	user-select: none;
	text-align: center;
	height: 0.7cm;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 1em;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	background: var(--titlebar-background);
	border-bottom: 1px solid gray;
	color: var(--color-unfocused);
	align-items: center;

	button {
		all: unset;
		width: fit-content;
		padding: 0 0.5em;
		transition: transform 0.2s;
		display: inline-flex;
		&:hover {
			cursor: pointer;
			transform: scale(1.5);
		}
	}

	:last-child {
		justify-self: end;
	}
}

.titlebar.focused {
	color: var(--titlebar-color);
	background: var(--titlebar-background-focused);
}

.frameOverlay {
	height: 100%;
	width: 100%;
	position: absolute;
	display: block;
}
