body {
    background-color: blue;
    font-family: monospace;
}

#menubar {
    width: 100%;
    border-bottom: 1px solid black;
    background-color: white;
}

#menubar>a {
    margin-left: 10px;
}

#mediaplayer {
    position: absolute;
    margin-top: 2vh;
    margin-left: 28vw;
    width: 50%;
    height: 500px;
    background-color: #010088;
}



.titlebar {
    border-bottom: 1px solid black;
    background-color: white;
    text-align: center;
    width: 100%;
    height:15px;
}

.titlebar:hover {
    cursor: move;
}

.application {
    background-color: white;
    box-shadow: 8px 15px 0px 0px rgba(0, 0, 0, 0.75);
    transition: filter 0.5s;
    min-height: 15px;
}

#bouncingballs {
    position: absolute;
    margin-top: 1vh;
    margin-left: 0vw;
    width: 25%;
    height: 500px;
    background-color: #A9A8AE;
}

.application:hover {
    z-index: 10;
}

#notes {
    position: absolute;
    margin-top: 1vh;
    margin-left: 84vw;
    width: 15vw;
    height: 400px;
    background-color: #FFFF99;
    overflow: hidden;
    text-overflow: ellipsis;
}

#notes > h1 {
    text-align: center;
}


.openWindow {
    display: none;
    float: right;
    background:none;
    border:none;
    margin-right: 5px;
    padding:0;
    cursor: pointer;
    font-size: 13px;
}

.closeWindow {
    float: right;
    background:none;
    border:none;
    margin-right: 5px;
    padding:0;
    cursor: pointer;
    font-size: 13px;
}

#desktopIcons {
    margin-left: 90%;
    position: absolute;
    color: white;
    font-size: 120%;
}

#desktopIcons>img {
    margin-top: 10px;
    display: block;
    width:50%;
}

#desktopIcons>a {
    margin-left: 5px;
}