.backButton {
  float: left;
  margin: 5px;
}

.forwardButton {
  float: right;
  margin: 5px;
}

.buttonHolder {
  position: absolute;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 0;
}

.welcomeLogo {
  float: left;
  margin-right: 10px;
  height: 5cm;
  margin-top: -1cm;
}

.welcomeText {
  display: inline;
}
