.menubarRight {
  float: right;
}

.menubarLeft,
.menubarDropdown {
  float: left;
}

.menubar {
  width: calc(100% - 16px);
  margin: 8px;
  position: absolute;
}

.menubarLeft,
.menubarRight {
  padding-left: 0.2%;
  padding-right: 0.2%;
  user-select: none;
}

.menubarList {
  position: absolute;
}

.menubarDropdown > * {
  user-select: none;
  text-decoration: none;
  cursor: pointer;
}

.menubarButton {
  width: 100%;
  background: none;
  border: none;
  padding: 3%;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  float: right;
  outline: none;
}

.menubarButton > img {
  float: left;
  padding-right: 3%;
}

.openWindowList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.openWindowListIcon {
  margin-left: 0.2vw;
  vertical-align: middle;
}

.openWindowListIcon:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
}