.settings > button {
  background: none;
  border: none;
  padding-left: 3%;
  padding-right: 3%;
  cursor: pointer;
  font-size: 20px;
  display: inline;
  outline: none;
  user-select: none;
}

.settings > h2 {
  display: inline;
  user-select: none;
  padding-left: 3%;
  padding-right: 3%;
}

.settings {
  text-align: left;
}