.settingsBackgroundPreview {
  height: 10vh;
  object-fit: cover;
  background-size: cover;
  width: 32.5%;
  height: 4cm;
  margin-bottom: 1%;
}

.settingsCurrentBackgroundPreview {
  width: 100%;
}

.customization,
.backgroundPicker {
  padding: 2%;
  user-select: none;
}

.otherSettings {
  text-align: center;
  margin: auto;
}

.otherSettings > div {
  display: inline-block;
  margin-right: 2%;
  margin-left: 2%;
  text-align: center;
}

.themePreviews {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1%;
}

.settingsPreviews {
  background-size: cover;
  width: 100%;
}

.settingsThemeRadios {
  display: block;
  text-align: center;
}

.aboutContainer {
  text-align: center;
  user-select: none;
}

.aboutContainer > div {
  display: inline-block;
  width: 75%;
  height: 1.3cm;
  border: 1px solid gray;
}

.credits {
  transition: height 0.1s;
  overflow: hidden;
}

.aboutLeft {
  float: left;
  margin-left: 0.5cm;
}

.aboutRight {
  float: right;
  margin-right: 0.5cm;
  transition: transform 0.3s;
}

.githubIcon {
  vertical-align: middle;
}