.defaultBackgroundHolder > img {
  height: 4cm;
  object-fit: cover;
  width: 100%;
  cursor: pointer;
}

.defaultBackgroundHolder {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0.2cm;
  grid-row-gap: 0.2cm;
  width:50%;
}

.currentBackgroundPreview {
  object-fit: cover;
  float: left;
  width: 49%;
  margin-right: 1%;
  height: 8.2cm;
}

.backgroundOptions {
  text-align: center;
}

.backgroundOptions > label {
  margin-left: 1%;
  margin-right: 1%;
}

.customization,
.backgroundPicker {
  padding: 2%;
  user-select: none;
}

.otherSettings {
  text-align: center;
  margin: auto;
}

.otherSettings > div {
  display: inline-block;
  margin-right: 2%;
  margin-left: 2%;
  text-align: center;
}

.themePreviews {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1%;
}

.settingsPreviews {
  background-size: cover;
  width: 100%;
}

.settingsThemeRadios {
  display: block;
  text-align: center;
}

.aboutContainer {
  text-align: center;
  user-select: none;
}

.aboutContainer > div {
  display: inline-block;
  width: 75%;
  height: 1.3cm;
  border: 1px solid gray;
}

.credits {
  transition: height 0.1s;
  overflow: hidden;
  cursor: pointer;
}

.aboutLeft {
  float: left;
  margin-left: 0.5cm;
}

.aboutRight {
  float: right;
  margin-right: 0.5cm;
  transition: transform 0.3s;
}

.githubIcon {
  vertical-align: middle;
}

.settings > button {
  background: none;
  border: none;
  padding-left: 3%;
  padding-right: 3%;
  cursor: pointer;
  font-size: 20px;
  display: inline;
  outline: none;
  user-select: none;
}

.settings > h2 {
  display: inline;
  user-select: none;
  padding-left: 3%;
  padding-right: 3%;
}

.settings {
  text-align: left;
}

.backgroundOptions > label > * {
  margin-left: 0.2cm;
}