.appWindow {
  display: block;
  background-color: white;
  box-shadow: 8px 15px 0px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  overflow: hidden;
  transition: filter 0.2s;
}

.appWrapper {
    display: block;
    height: 100%;
    width: 100%;
}

.frameOverlay {
	height: 100%;
	width: 100%;
	background: rgba(34, 34, 34, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

.internalFrameOverlay {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0.7cm;
	left: 0;
	display: none;
}

.collapseWindow, .closeWindow {
    background: none;
      border: none;
      margin: 0 10px 0 10px;
      padding: 0;
      cursor: pointer;
      font-size: 18px;
  }