.greeterContainer {
	padding: 0.5em;
	text-align: center;
}

.startButton {
	all: unset;
	margin: auto;
	width: 5em;
	font-size: 5em;
	cursor: pointer;
	user-select: none;
	transition: transform 0.2s;

	&:hover {
		transform: scale(1.25);
	}
}

.prevButton,
.nextButton {
	all: unset;
	position: fixed;
	bottom: 0;

	cursor: pointer;
	transition: transform 0.2s;
	font-size: 2em;
	padding: 1em;

	&:hover {
		transform: scale(1.25);
	}
}

.prevButton {
	left: 0;
}
.nextButton {
	right: 0;
}
