.panel {
	display: grid;
	background-color: white;

	button {
		all: unset;
		cursor: pointer;
	}
}

.panelContainer {
	position: absolute;
}

.top {
	top: 0;
}

.bottom {
	bottom: 0;
}

.start {
	left: 0;
}

.middle {
	left: 50%;
	transform: translate(-50%, 0);
}

.end {
	right: 0;
}

.startSection {
	justify-content: start;
}

.middleSection {
	justify-content: center;
}

.endSection {
	justify-content: end;
}

.startSection,
.middleSection,
.endSection {
	display: flex;
	scrollbar-color: gray white;
	min-width: 0;
	gap: 0.5em;
}

.dropdown {
	background-color: white;
	padding: 0.25em;
	min-width: 5em;
	display: flex;
	justify-content: center;
}
