.panel {
	display: grid;
	gap: 1em;
	background-color: white;
}

.panelContainer {
	position: absolute;
}

.top {
	top: 0;
}

.bottom {
	bottom: 0;
}

.start {
	left: 0;
}

.middle {
	left: 50%;
	transform: translate(-50%, 0);
}

.end {
	right: 0;
}

.startSection {
	justify-content: start;
}

.middleSection {
	justify-content: center;
}

.endSection {
	justify-content: end;
}

.startSection,
.middleSection,
.endSection {
	display: flex;
	scrollbar-color: gray white;
	min-width: 0;
}
