.browserContainer {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-rows: auto 1fr;

	text-align: center;

	input {
		width: 50%;
	}
}

.controls {
	display: flex;
	justify-content: center;
	gap: 0.5em;
}
