@font-face {
  font-family: "retro";
  src: local("perfect-dos"), url(./assets/styles/Perfect_DOS_VGA_437_Win.ttf) format("truetype");
}

body {
  background-color: black;
  overflow: hidden;
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-color)
}

:root {
  --bgopacity: 0.8;
  --font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* Default theme: */
  --primary-bg: 255, 255, 255;
  --primary-color: #121212;
  --titlebarText: #121212;
  --unfocused-color: darkgray;
  --titlebarBg: linear-gradient(to right, white, lightgray);
  --unfocusedTitlebarBg: linear-gradient(to right, white, lightgray);
  --border: none;
  --borderRadius: 5px;
}

[data-theme="dark"] {
  --primary-bg: 9, 10, 12;
  --primary-color: #e9e9e9;
  --unfocused-color: darkgray;
  --titlebarText: #fff;
  --titlebarBg: linear-gradient(to right, #090a0c, gray);
  --unfocusedTitlebarBg: linear-gradient(to right, #090a0c, gray);
  --border: none;
  --borderRadius: 5px;
}

[data-theme="classic"] {
  --primary-bg: 120, 120, 120;
  --primary-color: #000;
  --unfocused-color: #303030;
  --titlebarText: #fff;
  --titlebarBg: #00008B;
  --unfocusedTitlebarBg: #606060;
  --border: 2px outset lightgray;
  --borderRadius: 0;
}