body {
	background-color: black;
	overflow: hidden;
	margin: 0;
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	background-image: var(--background-image);
	background-size: 100%;
}

.retro-font {
	font-family:
		IBM VGA,
		monospace;
	font-size: 120%;
}

@font-face {
	/* From: https://int10h.org/oldschool-pc-fonts/ by VileR */
	font-family: "IBM VGA";
	src: url(./assets/Web437_IBM_VGA_9x16.woff) format("woff");
	font-weight: normal;
	font-style: normal;
}

:root {
	--background-opacity: 0.8;
	--background-image: url(https://images.unsplash.com/photo-1589642314445-999ac13b0075?ixlib=rb-4.0.3&q=80&fm=jpg&crop=entropy&cs=tinysrgb);
	/* Default light theme: */
	--color-background: 255, 255, 255;
	--color-primary: #121212;
	--color-unfocused: darkgray;
	--titlebar-background: linear-gradient(to right, white, lightgray);
	--titlebar-background-focused: linear-gradient(to right, white, lightgray);
	--window-border-radius: 0.25em;
}

[data-theme="dark"] {
	--color-background: 9, 10, 12;
	--color-primary: white;
	--color-unfocused: darkgray;
	--titlebar-background: linear-gradient(to right, #090a0c, gray);
	--titlebar-background-focused: linear-gradient(to right, #090a0c, gray);
}

[data-theme="classic"] {
	--color-background: 220, 220, 220;
	--color-primary: #000;
	--color-unfocused: #303030;
	--titlebar-color: #fff;
	--titlebar-background-focused: #00008b;
	--titlebar-background: #606060;
	--window-border: 2px outset lightgray;
	--window-border-radius: 0;
}
