body {
  background-size: 103%;
  min-height: 100%;
}

.frameOverlay {
  height: 100%;
  width: 100%;
  background: rgba(34, 34, 34, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.loadingSpinner {
  vertical-align: middle;
}

p {
  display: inline;
}

textarea {
  background: transparent;
  border: none;
  outline: none;
  resize: none;
}