body {
    background-color: blue;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: perfect-dos;
    overflow: hidden;
    background-image: url(source/KDE\ Plasma\ Scenery\ 64\ NO\ LOGO.png);
}

@font-face {
    font-family: amiga-forever;
    src: url(source/amiga_forever/amiga4ever\ pro2.ttf)
}

@font-face {
    font-family: perfect-dos;
    src: url(source/perfect_dos/Perfect\ DOS\ VGA\ 437\ Win.ttf)
}

#menubar {
    width: 100%;
    height: 21px;
    border-bottom: 1px solid black;
    background-color: white;
    font-size: 150%;
}

#menubar>a {
    margin-left: 10px;
}

#mediaplayer {
    position: absolute;
    background-color: #010088;
}



.titlebar {
    border-bottom: 1px solid black;
    background: linear-gradient(to right, white , lightgray);;
    text-align: center;
    width: 100%;
    height:25px;
    font-size:22px;
}

.titlebar:hover {
    cursor: move;
}

.application {
    background-color: white;
    box-shadow: 8px 15px 0px 0px rgba(0, 0, 0, 0.75);
    transition: filter 0.5s;
    min-height: 25px;
    min-width: 10%;
}

#bouncingballs {
    position: absolute;
    background-color: #A9A8AE;
}

.application:hover {
    z-index: 10;
}

#notes {
    position: absolute;
    background-color: #FFFF99;
    overflow: hidden;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-size: 85%;
}

#notesContent {
    margin-left: 3px;
}

.uncollapseWindow {
    display: none;
    float: right;
    background:none;
    border:none;
    margin-right: 5px;
    padding:0;
    cursor: pointer;
    font-size: 18px;
}

.collapseWindow {
    float: right;
    background:none;
    border:none;
    margin-right: 5px;
    padding:0;
    cursor: pointer;
    font-size: 18px;
}

#desktopIcons {
    margin-left: 90%;
    position: absolute;
    color: white;
    font-size: 120%;
}

#desktopIcons>img {
    margin-top: 10px;
    display: block;
    width:50%;
}

#desktopIcons>a {
    margin-left: 5px;
}

.closeWindow {
    float: left;
    background:none;
    border:none;
    margin-left: 5px;
    padding:0;
    cursor: pointer;
    font-size: 18px;
}


/*
#notes, #mediaplayer, #bouncingballs {
    display: none;
}
*/
#fileMenuContent {
    margin-left: 7%;
    background-color: white;
    display: inline;
    position: absolute;
    font-size: 20px;
    text-align: center;
    padding: 0.5%; 
    display: none;
    z-index: 9999;
}

#fileMenuContent > a {
    display: block;
}

#optionMenuContent {
    margin-left: 10%;
    background-color: white;
    display: inline;
    position: absolute;
    font-size: 20px;
    text-align: center;
    padding: 0.5%; 
    display:none;
    z-index: 9999;
}

#optionMenuContent > a {
    display: block;
}

#backgroundPicker {
    position: absolute;
    margin-top: 15vh;
    margin-left: 28vw;
    width: 50%;
    height: 50%;
    background-color: #FFFFFF;
    text-align: center;
    display: none;
}

#backgroundContainer {
    border: 3px solid gray;
    height: 91%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: auto;
    align-content: start
}

#backgroundContainer > div {
    height: 50%;
    width: 33%;
}

#backgroundContainer > div > img {
    width: 100%;
}

/* Defualt Positions and Sizes*/
#notes {
    margin-top: 1vh;
    margin-left: 0%;
    width: 10%;
    height: 70%;
}

#mediaplayer {
    margin-top: 1vh;
    margin-left: 11%;
    width: 50%;
    height: 60%;
}

#bouncingballs {
    margin-top: 1vh;
    margin-left: 62%;
    width: 25%;
    height: 50%;
}

#pathfinder {
    margin-top: 20vh;
    margin-left: 25%;
    width: 50%;
    height: 50%;
}

#about {
    margin-top: 20vh;
    margin-left: 37.5%;
    width: 25%;
    height: 50%;
}

#terminal {
    margin-top: 20vh;
    margin-left: 25%;
    width: 50%;
    height: 45%;
}


/* end of positions and sizes */
#menubar > button {
    background:none;
    border:none;
    margin-left: 5px;
    padding:0;
    cursor: pointer;
    font-size: 20px;
    font-family: perfect-dos;
}

#appMenuContent {
    margin-left: 0%;
    background-color: white;
    display: inline;
    position: absolute;
    font-size: 20px;
    text-align: left;
    padding: 0.5%; 
    z-index: 9999;
    max-width: 10%;
    display: none;
}

#appMenuContent > a {
    margin-bottom: 2%;
    display: block;
    cursor: pointer;
}


#dateAndTime {
    padding-right: 10px;
    float: right;
    font-size: 22px;
    font-family: perfect-dos;
}

#pathfinder {
    position: absolute;
    background-color: #FFFFFF;
    text-overflow: ellipsis;
    display: none;
    min-width: 40%;
}


#about {
    position: absolute;
    background-color: white;
    overflow: hidden;
    overflow-x: hidden;
    text-overflow: ellipsis;
    z-index: 99;
    display: none;
}

#about > h1 {
    text-align: center;
}

#aboutContainer {
    display: grid;
}

#aboutImage {
    grid-column: 1;
}
#aboutContent {
    grid-column: 2;
}

#terminal {
    position: absolute;
    background-color: #FFFFFF;
    text-overflow: ellipsis;
    min-width: 40%;
    display: none;
}

.frameOverlay {
    height: 100%;
    width: 100%;
    background: rgba(34, 34, 34, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.windowFrameOverlay {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.0);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    cursor: move;
}